* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

h1 {
  color: white;
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 100px;
}

button {
  margin: 5px;
  background-color: rgb(126, 0, 115);
  border: none;
  color: white;
  padding: 15px 32px;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.container {
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: purple solid 3px;
  padding: 30px;
  box-shadow: 8px 10px 15px rgb(126, 0, 115);
}
